$main-color: blanchedalmond;

body {
    background-color: $main-color;
}

.input {
    line-height: 36px;
    font-size: 16px;
    padding: 8px;
}

.item-creator {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.button {
    cursor: pointer;
    line-height: 36px;
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;

    &:hover {
        font-weight: bold;
    }
}

.home {
    &__body {
        height: 98vh;
        display: flex;
        flex-direction: row;
    }

    &__left {
        flex-grow: 1;
    }

    &__right {
        width: 200px;
    }

    &__list {
        display: flex;
        gap: 64px;
        align-items: center;
    }

    &__create-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-height: 64px;
    }
}


.list {
    list-style: none;
    padding: 0;
    display: inline-flex;
    gap: 64px;
    align-items: center;
}

.clickable-text {
    cursor: pointer;
}

.list-item {
    border: 1px solid;
    padding: 12px;
    font-size: 18px;

    &__header {
        line-height: 32px;

        &:hover {
            font-weight: bold;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__edit {
        max-width: 64px;
    }
}

.svg {
    background-color: #fdf8f0;

    &__item-rect {
        fill: $main-color;
    }
}

.info-panel {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 20px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__close {
        height: 100%;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

.textarea-label {
    background: #0000;
    resize: none;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    height: 24px;
    box-shadow: none;
    border: none;
    padding-left: 4px;
    padding-right: 4px;
}